html,body{
	margin: 0;
	padding: 0;
}

.wrap{
	display: flex;
	justify-content: space-between;
	align-items : center;
	padding: 10px 20px 0;
}

.wrap > div{
	width: 150px;
	box-sizing: border-box;
	margin: 10px 0;
}

.el-1{
	height: 120px;
	border: 1px solid #f00;
}

.el-2{
	height: 100px;
	border: 1px solid #f00;
}

.el-3{
	height: 40px;
	border: 1px solid #f00;
}

.el-4{
	height: 200px;
	border: 1px solid #0f0;
}

@media (max-width: 640px){
	.wrap{
		flex-wrap: wrap;
		align-items : flex-start;
	}
	
	.el-4{
		order: -1;
	}


}
